extends ../layout.pug
block contenido

  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Lista de tecnicas
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Tecnicas
          .panel-body
            table#dataTables-example.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th Nombres
                  th Apellidos
                  if usuario.permisos === 2
                    th Sucursal
                  th Acción
              tbody
                if usuario.permisos === 2
                  for tecnica in tecnicas
                    tr.odd.gradeX
                      td #{tecnica.nombre}
                      td #{tecnica.apellido}
                      td #{tecnica.plaza}
                      td
                        a(class="btn btn btn-primary btn-circle" href="/tecnicas/"+tecnica.idTecnica)
                          i.fa.fa-list(title="Editar")

                else

                  for tecnica in tecnicas
                    tr.odd.gradeX
                      td #{tecnica.nombre}
                      td #{tecnica.apellido}
                      td
                        a(class="btn btn btn-primary btn-circle" href="/tecnicas/"+tecnica.idTecnica)
                          i.fa.fa-list(title="Editar")
    
    // jQuery
  script(src='/public/dataTables/jquery/jquery.js') 
  // Bootstrap Core JavaScript
  script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/public/vendor/metisMenu/metisMenu.min.js')
  // DataTables JavaScript
  script(src='/public/dist/js/sb-admin-2.js')
  script(src='/public/stuk/dist/jszip.min.js')  
  script(src='/public/dataTables/media/js/jquery.dataTables.min.js')
  script(src='/public/dataTables/media/js/dataTables.bootstrap.min.js')
  script(src='/public/dataTables/extensions/Responsive/js/dataTables.responsive.js')
  script(src='/public/dataTables/extensions/Buttons/js/dataTables.buttons.min.js')
  script(src='/public/dataTables/extensions/Buttons/js/buttons.html5.min.js')
  script(src='/public/pdfmake/build/pdfmake.min.js')
  script(src='/public/pdfmake/build/vfs_fonts.js') 
  if usuario.permisos === 2
    script.
      $('#dataTables-example').DataTable({
          responsive: true,
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'excelHtml5',
                  title: 'Tecnicas',
                  exportOptions: {
                      columns: [ 0, 1, 2 ]
                  }
              },
              {
                  extend: 'pdf',
                  title: 'Tecnicas',
                  exportOptions: {
                      columns: [ 0, 1, 2 ]
                  }
              }
          ]
      });
  else

    script.
      $('#dataTables-example').DataTable({
          responsive: true,
          dom: 'Bfrtip',
          buttons: [
              {
                  extend: 'excelHtml5',
                  title: 'Tecnicas',
                  exportOptions: {
                      columns: [ 0, 1 ]
                  }
              },
              {
                  extend: 'pdf',
                  title: 'Tecnicas',
                  exportOptions: {
                      columns: [ 0, 1 ]
                  }
              }
          ]
      });
