extends ../layout.pug
block contenido
  
  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Registro de Movimientos
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Productos
          .panel-body
            table#dataTables-example.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th Producto
                  th Cantidad
                  th Tipo
                  th Usuario
                  th Tecnica  
                  if usuario.permisos === 2
                    th Sucursal
                  th Fecha
              tbody
                if usuario.permisos === 1
                  for movimientoNoBasico in movimientosNoBasicos
                    tr.odd.gradeX
                      td #{movimientoNoBasico.nombreProducto}
                      td #{movimientoNoBasico.cantidad}
                      if movimientoNoBasico.tipo === 0
                        td Paso a consumo
                      else
                        td Agrego producto

                      td #{movimientoNoBasico.nombreUsuario}
                      td Sin tecnica

                      if movimientoNoBasico.fecha.getMonth() < 10
                        - var month = "0"+movimientoNoBasico.fecha.getMonth()
                      else
                        - var month = movimientoNoBasico.fecha.getMonth()
                      
                      if movimientoNoBasico.fecha.getDate() < 10
                        - var day = "0"+movimientoNoBasico.fecha.getDate()
                      else
                        - var day = movimientoNoBasico.fecha.getDate()
                      
                      if movimientoNoBasico.fecha.getHours() < 10
                        - var hour = "0"+movimientoNoBasico.fecha.getHours()
                      else
                        - var hour = movimientoNoBasico.fecha.getHours()
                      
                      if movimientoNoBasico.fecha.getMinutes()  < 10
                        - var minute = "0"+ movimientoNoBasico.fecha.getMinutes()
                      else
                        - var minute =  movimientoNoBasico.fecha.getMinutes()
                      
                      if movimientoNoBasico.fecha.getSeconds() < 10
                        - var second = "0"+movimientoNoBasico.fecha.getSeconds()
                      else
                        - var second = movimientoNoBasico.fecha.getSeconds()
                             
                      td #{movimientoNoBasico.fecha.getFullYear()}/#{month}/#{day} #{hour}:#{minute}:#{second}

                  for movimientoNoBasico in movimientosNoBasicos
                    tr.odd.gradeX
                      td #{movimientoNoBasico.nombreProducto}
                      td #{movimientoNoBasico.cantidad}
                      if movimientoNoBasico.tipo === 0
                        td Paso a consumo
                      else
                        td Agrego producto
                      td #{movimientoNoBasico.nombreUsuario}
                      if movimientoNoBasico.nombreTecnica
                        td #{movimientoNoBasico.nombreTecnica}
                      else
                        td Producto no basico

                      if movimientoNoBasico.fecha.getMonth() < 10
                        - var month = "0"+movimientoNoBasico.fecha.getMonth()
                      else
                        - var month = movimientoNoBasico.fecha.getMonth()

                      if movimientoNoBasico.fecha.getDate() < 10
                        - var day = "0"+movimientoNoBasico.fecha.getDate()
                      else
                        - var day = movimientoNoBasico.fecha.getDate()

                      if movimientoNoBasico.fecha.getHours() < 10
                        - var hour = "0"+movimientoNoBasico.fecha.getHours()
                      else
                        - var hour = movimientoNoBasico.fecha.getHours()

                      if movimientoNoBasico.fecha.getMinutes() < 10
                        - var minute = "0"+ movimientoNoBasico.fecha.getMinutes()
                      else
                        - var minute =  movimientoNoBasico.fecha.getMinutes()

                      if movimientoNoBasico.fecha.getSeconds() < 10
                        - var second = "0"+movimientoNoBasico.fecha.getSeconds()
                      else
                        - var second = movimientoNoBasico.fecha.getSeconds()

                      td #{movimientoNoBasico.fecha.getFullYear()}/#{month}/#{day} #{hour}:#{minute}:#{second}

                else

                  for movimientoNoBasico in movimientosNoBasicos
                    tr.odd.gradeX
                      td #{movimientoNoBasico.nombreProducto}
                      td #{movimientoNoBasico.cantidad}

                      if movimientoNoBasico.tipo
                        td Agrego producto
                      else
                        td Paso a consumo

                      td #{movimientoNoBasico.nombreUsuario}
                      if movimientoNoBasico.nombreTecnica
                        td #{movimientoNoBasico.nombreTecnica}
                      else
                        td Producto no basico
                      td #{movimientoNoBasico.plaza}

                      if movimientoNoBasico.fecha.getMonth() < 10
                        - var month = "0"+movimientoNoBasico.fecha.getMonth()
                      else
                        - var month = movimientoNoBasico.fecha.getMonth()
                      
                      if movimientoNoBasico.fecha.getDate() < 10
                        - var day = "0"+movimientoNoBasico.fecha.getDate()
                      else
                        - var day = movimientoNoBasico.fecha.getDate()
                      
                      if movimientoNoBasico.fecha.getHours() < 10
                        - var hour = "0"+movimientoNoBasico.fecha.getHours()
                      else
                        - var hour = movimientoNoBasico.fecha.getHours()
                      
                      if movimientoNoBasico.fecha.getMinutes()  < 10
                        - var minute = "0"+ movimientoNoBasico.fecha.getMinutes()
                      else
                        - var minute =  movimientoNoBasico.fecha.getMinutes()
                      
                      if movimientoNoBasico.fecha.getSeconds() < 10
                        - var second = "0"+movimientoNoBasico.fecha.getSeconds()
                      else
                        - var second = movimientoNoBasico.fecha.getSeconds()
                             
                      td #{movimientoNoBasico.fecha.getFullYear()}/#{month}/#{day} #{hour}:#{minute}:#{second}
        // /.panel
      // /.col-lg-12
    // /.row
    // jQuery
    
    script(src='/public/vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='/public/vendor/bootstrap/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='/public/vendor/metisMenu/metisMenu.min.js')
    // DataTables JavaScript
    script(src='/public/vendor/datatables/js/jquery.dataTables.min.js')
    script(src='/public/vendor/datatables-plugins/dataTables.bootstrap.min.js')
    script(src='/public/vendor/datatables-responsive/dataTables.responsive.js')
    // Custom Theme JavaScript
    script(src='/public/dist/js/sb-admin-2.js')
    // Page-Level Demo Scripts - Tables - Use for reference
    if usuario.permisos === 2
      script.
        $(document).ready(function() {
          $('#dataTables-example').DataTable({
            responsive: true,
            "order": [[ 6, "desc" ]]
          });
        });

    else
      
      script.
        $(document).ready(function() {
          $('#dataTables-example').DataTable({
            responsive: true,
            "order": [[ 5, "desc" ]]
          });
        });
    script(src="/public/excel/js/xlsx.core.min.js")
    script(src="/public/excel/js/FileSaver.min.js")
    script(src="/public/excel/js/tableexport.min.js")
    script.
      $("table").tableExport({
          formats: ["xlsx"],
          bootstrap: true,
          fileName: "Movimientos"
      });
